!!!
html
  head
    title= "Video Player"
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js")
    script(src='/js/player.js')
    script(src='/js/video.js')
    script(src='/js/player.jquery.js')
    script(src='/socket.io/socket.io.js')
    script(src="http://vjs.zencdn.net/c/video.js")
    link(rel="stylesheet", href="http://vjs.zencdn.net/c/video-js.css")
    link(rel="stylesheet", href="/css/player.css")
  body
    #player